In [1]:
import pandas as pd

In [2]:
countries_df = pd.read_csv('countries.csv')
countries_df

,id,name,iso3,iso2,numeric_code,phone_code,capital,currency,currency_name,currency_symbol,...,region,region_id,subregion,subregion_id,nationality,timezones,latitude,longitude,emoji,emojiU
0,1,Afghanistan,AFG,AF,4,93,Kabul,AFN,Afghan afghani,Ø‹,...,Asia,3.0,Southern Asia,14.0,Afghan,"[{zoneName:'Asia\/Kabul',gmtOffset:16200,gmtOf...",33.000000,65.0,ðŸ‡¦ðŸ‡«,U+1F1E6 U+1F1EB
1,2,Aland Islands,ALA,AX,248,+358-18,Mariehamn,EUR,Euro,â‚¬,...,Europe,4.0,Northern Europe,18.0,Aland Island,"[{zoneName:'Europe\/Mariehamn',gmtOffset:7200,...",60.116667,19.9,ðŸ‡¦ðŸ‡½,U+1F1E6 U+1F1FD
2,3,Albania,ALB,AL,8,355,Tirana,ALL,Albanian lek,Lek,...,Europe,4.0,Southern Europe,16.0,Albanian,"[{zoneName:'Europe\/Tirane',gmtOffset:3600,gmt...",41.000000,20.0,ðŸ‡¦ðŸ‡±,U+1F1E6 U+1F1F1
3,4,Algeria,DZA,DZ,12,213,Algiers,DZD,Algerian dinar,Ø¯Ø¬,...,Africa,1.0,Northern Africa,1.0,Algerian,"[{zoneName:'Africa\/Algiers',gmtOffset:3600,gm...",28.000000,3.0,ðŸ‡©ðŸ‡¿,U+1F1E9 U+1F1FF
4,5,American Samoa,ASM,AS,16,+1-684,Pago Pago,USD,US Dollar,$,...,Oceania,5.0,Polynesia,22.0,American Samoan,"[{zoneName:'Pacific\/Pago_Pago',gmtOffset:-396...",-14.333333,-170.0,ðŸ‡¦ðŸ‡¸,U+1F1E6 U+1F1F8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,243,Wallis And Futuna Islands,WLF,WF,876,681,Mata Utu,XPF,CFP franc,â‚£,...,Oceania,5.0,Polynesia,22.0,"Wallis and Futuna, Wallisian or Futunan","[{zoneName:'Pacific\/Wallis',gmtOffset:43200,g...",-13.300000,-176.2,ðŸ‡¼ðŸ‡«,U+1F1FC U+1F1EB
246,244,Western Sahara,ESH,EH,732,212,El-Aaiun,MAD,Moroccan Dirham,MAD,...,Africa,1.0,Northern Africa,1.0,"Sahrawi, Sahrawian, Sahraouian","[{zoneName:'Africa\/El_Aaiun',gmtOffset:3600,g...",24.500000,-13.0,ðŸ‡ªðŸ‡­,U+1F1EA U+1F1ED
247,245,Yemen,YEM,YE,887,967,Sanaa,YER,Yemeni rial,ï·¼,...,Asia,3.0,Western Asia,11.0,Yemeni,"[{zoneName:'Asia\/Aden',gmtOffset:10800,gmtOff...",15.000000,48.0,ðŸ‡¾ðŸ‡ª,U+1F1FE U+1F1EA
248,246,Zambia,ZMB,ZM,894,260,Lusaka,ZMW,Zambian kwacha,ZK,...,Africa,1.0,Eastern Africa,4.0,Zambian,"[{zoneName:'Africa\/Lusaka',gmtOffset:7200,gmt...",-15.000000,30.0,ðŸ‡¿ðŸ‡²,U+1F1FF U+1F1F2
249,247,Zimbabwe,ZWE,ZW,716,263,Harare,ZWL,Zimbabwe Dollar,$,...,Africa,1.0,Eastern Africa,4.0,Zimbabwean,"[{zoneName:'Africa\/Harare',gmtOffset:7200,gmt...",-20.000000,30.0,ðŸ‡¿ðŸ‡¼,U+1F1FF U+1F1FC

In [3]:
countries_df.shape

(250, 22)

In [4]:
num_countries = countries_df.shape
print(f'There are {num_countries} in dataset')

There are (250, 22) in dataset

In [5]:
num_countrie = countries_df.name
num_countrie

0                    Afghanistan
1                  Aland Islands
2                        Albania
3                        Algeria
4                 American Samoa
                 ...
245    Wallis And Futuna Islands
246               Western Sahara
247                        Yemen
248                       Zambia
249                     Zimbabwe
Name: name, Length: 250, dtype: object

In [6]:
print(f'{num_countrie} in dataset')

0                    Afghanistan
1                  Aland Islands
2                        Albania
3                        Algeria
4                 American Samoa
                 ...
245    Wallis And Futuna Islands
246               Western Sahara
247                        Yemen
248                       Zambia
249                     Zimbabwe
Name: name, Length: 250, dtype: object in dataset

In [7]:
# retrieve a list of contents from the dataset?

continents = countries_df.columns
continents

Index(['id', 'name', 'iso3', 'iso2', 'numeric_code', 'phone_code', 'capital',
       'currency', 'currency_name', 'currency_symbol', 'tld', 'native',
       'region', 'region_id', 'subregion', 'subregion_id', 'nationality',
       'timezones', 'latitude', 'longitude', 'emoji', 'emojiU'],
      dtype='object')

In [8]:
# what is the total latitude of all the listed in the dataset

total_latitude = countries_df.latitude.sum()
print(f'The total latitude is {total_latitude}')

The total latitude is 4100.649341130001

In [9]:
# what is the overall life expectaion in the world

life_expect_mean = countries_df.latitude.mean()
life_expect_median = countries_df.latitude.median()

print(f'life expectation of mean {life_expect_mean} and meadian {life_expect_median}')

life expectation of mean 16.402597364520002 and meadian 16.083333330000002

In [10]:
# 10 highest countries latitude

most_latitude_df = countries_df.sort_values('latitude', ascending=False).head(10)
most_latitude_df

,id,name,iso3,iso2,numeric_code,phone_code,capital,currency,currency_name,currency_symbol,...,region,region_id,subregion,subregion_id,nationality,timezones,latitude,longitude,emoji,emojiU
212,211,Svalbard And Jan Mayen Islands,SJM,SJ,744,47,Longyearbyen,NOK,Norwegian Krone,kr,...,Europe,4.0,Northern Europe,18.0,Svalbard,"[{zoneName:'Arctic\/Longyearbyen',gmtOffset:36...",78.000000,20.0,ðŸ‡¸ðŸ‡¯,U+1F1F8 U+1F1EF
86,86,Greenland,GRL,GL,304,299,Nuuk,DKK,Danish krone,Kr.,...,Americas,2.0,Northern America,6.0,Greenlandic,"[{zoneName:'America\/Danmarkshavn',gmtOffset:0...",72.000000,-40.0,ðŸ‡¬ðŸ‡±,U+1F1EC U+1F1F1
100,100,Iceland,ISL,IS,352,354,Reykjavik,ISK,Icelandic krÃ³na,kr,...,Europe,4.0,Northern Europe,18.0,Icelandic,"[{zoneName:'Atlantic\/Reykjavik',gmtOffset:0,g...",65.000000,-18.0,ðŸ‡®ðŸ‡¸,U+1F1EE U+1F1F8
74,74,Finland,FIN,FI,246,358,Helsinki,EUR,Euro,â‚¬,...,Europe,4.0,Northern Europe,18.0,Finnish,"[{zoneName:'Europe\/Helsinki',gmtOffset:7200,g...",64.000000,26.0,ðŸ‡«ðŸ‡®,U+1F1EB U+1F1EE
214,213,Sweden,SWE,SE,752,46,Stockholm,SEK,Swedish krona,kr,...,Europe,4.0,Northern Europe,18.0,Swedish,"[{zoneName:'Europe\/Stockholm',gmtOffset:3600,...",62.000000,15.0,ðŸ‡¸ðŸ‡ª,U+1F1F8 U+1F1EA
72,72,Faroe Islands,FRO,FO,234,298,Torshavn,DKK,Danish krone,Kr.,...,Europe,4.0,Northern Europe,18.0,Faroese,"[{zoneName:'Atlantic\/Faroe',gmtOffset:0,gmtOf...",62.000000,-7.0,ðŸ‡«ðŸ‡´,U+1F1EB U+1F1F4
164,165,Norway,NOR,NO,578,47,Oslo,NOK,Norwegian krone,kr,...,Europe,4.0,Northern Europe,18.0,Norwegian,"[{zoneName:'Europe\/Oslo',gmtOffset:3600,gmtOf...",62.000000,10.0,ðŸ‡³ðŸ‡´,U+1F1F3 U+1F1F4
1,2,Aland Islands,ALA,AX,248,+358-18,Mariehamn,EUR,Euro,â‚¬,...,Europe,4.0,Northern Europe,18.0,Aland Island,"[{zoneName:'Europe\/Mariehamn',gmtOffset:7200,...",60.116667,19.9,ðŸ‡¦ðŸ‡½,U+1F1E6 U+1F1FD
38,39,Canada,CAN,CA,124,1,Ottawa,CAD,Canadian dollar,$,...,Americas,2.0,Northern America,6.0,Canadian,"[{zoneName:'America\/Atikokan',gmtOffset:-1800...",60.000000,-95.0,ðŸ‡¨ðŸ‡¦,U+1F1E8 U+1F1E6
181,182,Russia,RUS,RU,643,7,Moscow,RUB,Russian ruble,â‚½,...,Europe,4.0,Eastern Europe,15.0,Russian,"[{zoneName:'Asia\/Anadyr',gmtOffset:43200,gmtO...",60.000000,100.0,ðŸ‡·ðŸ‡º,U+1F1F7 U+1F1FA

In [11]:
countries_df['gdp'] = countries_df.longitude / countries_df.latitude
countries_df

,id,name,iso3,iso2,numeric_code,phone_code,capital,currency,currency_name,currency_symbol,...,region_id,subregion,subregion_id,nationality,timezones,latitude,longitude,emoji,emojiU,gdp
0,1,Afghanistan,AFG,AF,4,93,Kabul,AFN,Afghan afghani,Ø‹,...,3.0,Southern Asia,14.0,Afghan,"[{zoneName:'Asia\/Kabul',gmtOffset:16200,gmtOf...",33.000000,65.0,ðŸ‡¦ðŸ‡«,U+1F1E6 U+1F1EB,1.969697
1,2,Aland Islands,ALA,AX,248,+358-18,Mariehamn,EUR,Euro,â‚¬,...,4.0,Northern Europe,18.0,Aland Island,"[{zoneName:'Europe\/Mariehamn',gmtOffset:7200,...",60.116667,19.9,ðŸ‡¦ðŸ‡½,U+1F1E6 U+1F1FD,0.331023
2,3,Albania,ALB,AL,8,355,Tirana,ALL,Albanian lek,Lek,...,4.0,Southern Europe,16.0,Albanian,"[{zoneName:'Europe\/Tirane',gmtOffset:3600,gmt...",41.000000,20.0,ðŸ‡¦ðŸ‡±,U+1F1E6 U+1F1F1,0.487805
3,4,Algeria,DZA,DZ,12,213,Algiers,DZD,Algerian dinar,Ø¯Ø¬,...,1.0,Northern Africa,1.0,Algerian,"[{zoneName:'Africa\/Algiers',gmtOffset:3600,gm...",28.000000,3.0,ðŸ‡©ðŸ‡¿,U+1F1E9 U+1F1FF,0.107143
4,5,American Samoa,ASM,AS,16,+1-684,Pago Pago,USD,US Dollar,$,...,5.0,Polynesia,22.0,American Samoan,"[{zoneName:'Pacific\/Pago_Pago',gmtOffset:-396...",-14.333333,-170.0,ðŸ‡¦ðŸ‡¸,U+1F1E6 U+1F1F8,11.860465
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,243,Wallis And Futuna Islands,WLF,WF,876,681,Mata Utu,XPF,CFP franc,â‚£,...,5.0,Polynesia,22.0,"Wallis and Futuna, Wallisian or Futunan","[{zoneName:'Pacific\/Wallis',gmtOffset:43200,g...",-13.300000,-176.2,ðŸ‡¼ðŸ‡«,U+1F1FC U+1F1EB,13.248120
246,244,Western Sahara,ESH,EH,732,212,El-Aaiun,MAD,Moroccan Dirham,MAD,...,1.0,Northern Africa,1.0,"Sahrawi, Sahrawian, Sahraouian","[{zoneName:'Africa\/El_Aaiun',gmtOffset:3600,g...",24.500000,-13.0,ðŸ‡ªðŸ‡­,U+1F1EA U+1F1ED,-0.530612
247,245,Yemen,YEM,YE,887,967,Sanaa,YER,Yemeni rial,ï·¼,...,3.0,Western Asia,11.0,Yemeni,"[{zoneName:'Asia\/Aden',gmtOffset:10800,gmtOff...",15.000000,48.0,ðŸ‡¾ðŸ‡ª,U+1F1FE U+1F1EA,3.200000
248,246,Zambia,ZMB,ZM,894,260,Lusaka,ZMW,Zambian kwacha,ZK,...,1.0,Eastern Africa,4.0,Zambian,"[{zoneName:'Africa\/Lusaka',gmtOffset:7200,gmt...",-15.000000,30.0,ðŸ‡¿ðŸ‡²,U+1F1FF U+1F1F2,-2.000000
249,247,Zimbabwe,ZWE,ZW,716,263,Harare,ZWL,Zimbabwe Dollar,$,...,1.0,Eastern Africa,4.0,Zimbabwean,"[{zoneName:'Africa\/Harare',gmtOffset:7200,gmt...",-20.000000,30.0,ðŸ‡¿ðŸ‡¼,U+1F1FF U+1F1FC,-1.500000

In [12]:
lowest_gdp = countries_df.sort_values('gdp', ascending=True)
lowest_gdp

,id,name,iso3,iso2,numeric_code,phone_code,capital,currency,currency_name,currency_symbol,...,region_id,subregion,subregion_id,nationality,timezones,latitude,longitude,emoji,emojiU,gdp
151,153,Nauru,NRU,NR,520,674,Yaren,AUD,Australian dollar,$,...,5.0,Micronesia,21.0,Nauruan,"[{zoneName:'Pacific\/Nauru',gmtOffset:43200,gm...",-0.533333,166.916667,ðŸ‡³ðŸ‡·,U+1F1F3 U+1F1F7,-312.968752
170,171,Papua new Guinea,PNG,PG,598,675,Port Moresby,PGK,Papua New Guinean kina,K,...,5.0,Melanesia,20.0,"Papua New Guinean, Papuan","[{zoneName:'Pacific\/Bougainville',gmtOffset:3...",-6.000000,147.000000,ðŸ‡µðŸ‡¬,U+1F1F5 U+1F1EC,-24.500000
102,102,Indonesia,IDN,ID,360,62,Jakarta,IDR,Indonesian rupiah,Rp,...,3.0,South-Eastern Asia,13.0,Indonesian,"[{zoneName:'Asia\/Jakarta',gmtOffset:25200,gmt...",-5.000000,120.000000,ðŸ‡®ðŸ‡©,U+1F1EE U+1F1E9,-24.000000
230,228,Tuvalu,TUV,TV,798,688,Funafuti,AUD,Australian dollar,$,...,5.0,Polynesia,22.0,Tuvaluan,"[{zoneName:'Pacific\/Funafuti',gmtOffset:43200...",-8.000000,178.000000,ðŸ‡¹ðŸ‡»,U+1F1F9 U+1F1FB,-22.250000
202,202,Solomon Islands,SLB,SB,90,677,Honiara,SBD,Solomon Islands dollar,Si$,...,5.0,Melanesia,20.0,Solomon Island,"[{zoneName:'Pacific\/Guadalcanal',gmtOffset:39...",-8.000000,159.000000,ðŸ‡¸ðŸ‡§,U+1F1F8 U+1F1E7,-19.875000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,132,Malaysia,MYS,MY,458,60,Kuala Lumpur,MYR,Malaysian ringgit,RM,...,3.0,South-Eastern Asia,13.0,Malaysian,"[{zoneName:'Asia\/Kuala_Lumpur',gmtOffset:2880...",2.500000,112.500000,ðŸ‡²ðŸ‡¾,U+1F1F2 U+1F1FE,45.000000
198,199,Singapore,SGP,SG,702,65,Singapur,SGD,Singapore dollar,$,...,3.0,South-Eastern Asia,13.0,Singaporean,"[{zoneName:'Asia\/Singapore',gmtOffset:28800,g...",1.366667,103.800000,ðŸ‡¸ðŸ‡¬,U+1F1F8 U+1F1EC,75.951220
114,114,Kiribati,KIR,KI,296,686,Tarawa,AUD,Australian dollar,$,...,5.0,Micronesia,21.0,I-Kiribati,"[{zoneName:'Pacific\/Enderbury',gmtOffset:4680...",1.416667,173.000000,ðŸ‡°ðŸ‡®,U+1F1F0 U+1F1EE,122.117648
58,51,Democratic Republic of the Congo,COD,CD,180,243,Kinshasa,CDF,Congolese Franc,FC,...,1.0,Middle Africa,2.0,Congolese,"[{zoneName:'Africa\/Kinshasa',gmtOffset:3600,g...",0.000000,25.000000,ðŸ‡¨ðŸ‡©,U+1F1E8 U+1F1E9,inf
236,234,United States Minor Outlying Islands,UMI,UM,581,1,NaN,USD,United States dollar,$,...,2.0,Northern America,6.0,American,"[{zoneName:'Pacific\/Midway',gmtOffset:-39600,...",0.000000,0.000000,ðŸ‡ºðŸ‡²,U+1F1FA U+1F1F2,NaN

In [13]:
# Creat the data frame that counts the numbers countries in each continent?

countries_count_df = countries_df.groupby('name')[['region_id', 'subregion_id', 'latitude', 'longitude']].count()
countries_count_df

                           region_id  subregion_id  latitude  longitude
name
Afghanistan                        1             1         1          1
Aland Islands                      1             1         1          1
Albania                            1             1         1          1
Algeria                            1             1         1          1
American Samoa                     1             1         1          1
...                              ...           ...       ...        ...
Wallis And Futuna Islands          1             1         1          1
Western Sahara                     1             1         1          1
Yemen                              1             1         1          1
Zambia                             1             1         1          1
Zimbabwe                           1             1         1          1

[250 rows x 4 columns]

In [14]:
countries_df_sum = countries_df.groupby('name')[['region_id', 'subregion_id', 'latitude', 'longitude']].sum()
countries_df_sum

                           region_id  subregion_id   latitude  longitude
name
Afghanistan                      3.0          14.0  33.000000       65.0
Aland Islands                    4.0          18.0  60.116667       19.9
Albania                          4.0          16.0  41.000000       20.0
Algeria                          1.0           1.0  28.000000        3.0
American Samoa                   5.0          22.0 -14.333333     -170.0
...                              ...           ...        ...        ...
Wallis And Futuna Islands        5.0          22.0 -13.300000     -176.2
Western Sahara                   1.0           1.0  24.500000      -13.0
Yemen                            3.0          11.0  15.000000       48.0
Zambia                           1.0           4.0 -15.000000       30.0
Zimbabwe                         1.0           4.0 -20.000000       30.0

[250 rows x 4 columns]

In [15]:
covid_data_df = pd.read_csv('country_wise_latest.csv')
covid_data_df

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [16]:
total_test_missing = covid_data_df.Active.isna()
total_test_missing

0      False
1      False
2      False
3      False
4      False
       ...
182    False
183    False
184    False
185    False
186    False
Name: Active, Length: 187, dtype: bool

In [17]:
# merged data set

combined_df = countries_df.merge(covid_data_df, left_on='name', right_on='Country/Region')
combined_df

,id,name,iso3,iso2,numeric_code,phone_code,capital,currency,currency_name,currency_symbol,...,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,1,Afghanistan,AFG,AF,4,93,Kabul,AFN,Afghan afghani,Ø‹,...,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,3,Albania,ALB,AL,8,355,Tirana,ALL,Albanian lek,Lek,...,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,4,Algeria,DZA,DZ,12,213,Algiers,DZD,Algerian dinar,Ø¯Ø¬,...,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,6,Andorra,AND,AD,20,376,Andorra la Vella,EUR,Euro,â‚¬,...,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,7,Angola,AGO,AO,24,244,Luanda,AOA,Angolan kwanza,Kz,...,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,240,Vietnam,VNM,VN,704,84,Hanoi,VND,Vietnamese Ä‘á»“ng,â‚«,...,11,0,0,0.00,84.69,0.00,384,47,12.24,Western Pacific
163,244,Western Sahara,ESH,EH,732,212,El-Aaiun,MAD,Moroccan Dirham,MAD,...,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
164,245,Yemen,YEM,YE,887,967,Sanaa,YER,Yemeni rial,ï·¼,...,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
165,246,Zambia,ZMB,ZM,894,260,Lusaka,ZMW,Zambian kwacha,ZK,...,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
166,247,Zimbabwe,ZWE,ZW,716,263,Harare,ZWL,Zimbabwe Dollar,$,...,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [18]:
combined_df['test_per_million'] = combined_df['Deaths / 100 Cases'] * 1e6 / combined_df['Confirmed last week']
combined_df['cases_per_million'] = combined_df['Recovered / 100 Cases'] * 1e6 / combined_df["Confirmed last week"]
combined_df['deaths_per_million'] = combined_df['Deaths / 100 Recovered'] * 1e6 / combined_df['Confirmed last week']
combined_df

,id,name,iso3,iso2,numeric_code,phone_code,capital,currency,currency_name,currency_symbol,...,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,test_per_million,cases_per_million,deaths_per_million
0,1,Afghanistan,AFG,AF,4,93,Kabul,AFN,Afghan afghani,Ø‹,...,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean,98.519394,1.956032e+03,1.418679e+02
1,3,Albania,ALB,AL,8,355,Tirana,ALL,Albanian lek,Lek,...,2.95,56.25,5.25,4171,709,17.00,Europe,707.264445,1.348597e+04,1.258691e+03
2,4,Algeria,DZA,DZ,12,213,Algiers,DZD,Algerian dinar,Ø¯Ø¬,...,4.16,67.34,6.17,23691,4282,18.07,Africa,175.594107,2.842430e+03,2.604365e+02
3,6,Andorra,AND,AD,20,376,Andorra la Vella,EUR,Euro,â‚¬,...,5.73,88.53,6.48,884,23,2.60,Europe,6481.900452,1.001471e+05,7.330317e+03
4,7,Angola,AGO,AO,24,244,Luanda,AOA,Angolan kwanza,Kz,...,4.32,25.47,16.94,749,201,26.84,Africa,5767.690254,3.400534e+04,2.261682e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,240,Vietnam,VNM,VN,704,84,Hanoi,VND,Vietnamese Ä‘á»“ng,â‚«,...,0.00,84.69,0.00,384,47,12.24,Western Pacific,0.000000,2.205469e+05,0.000000e+00
163,244,Western Sahara,ESH,EH,732,212,El-Aaiun,MAD,Moroccan Dirham,MAD,...,10.00,80.00,12.50,10,0,0.00,Africa,1000000.000000,8.000000e+06,1.250000e+06
164,245,Yemen,YEM,YE,887,967,Sanaa,YER,Yemeni rial,ï·¼,...,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean,17640.518839,3.042619e+04,3.581223e+04
165,246,Zambia,ZMB,ZM,894,260,Lusaka,ZMW,Zambian kwacha,ZK,...,3.08,61.84,4.97,3326,1226,36.86,Africa,926.037282,1.859290e+04,1.494287e+03
166,247,Zimbabwe,ZWE,ZW,716,263,Harare,ZWL,Zimbabwe Dollar,$,...,1.33,20.04,6.64,1713,991,57.85,Africa,776.415645,1.169877e+04,3.876241e+03

In [19]:
# highest test per million

highest_test_df = combined_df.sort_values('test_per_million', ascending=False).head(10)
highest_test_df

,id,name,iso3,iso2,numeric_code,phone_code,capital,currency,currency_name,currency_symbol,...,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,test_per_million,cases_per_million,deaths_per_million
163,244,Western Sahara,ESH,EH,732,212,El-Aaiun,MAD,Moroccan Dirham,MAD,...,10.00,80.00,12.50,10,0,0.00,Africa,1000000.000000,8.000000e+06,1.250000e+06
15,23,Belize,BLZ,BZ,84,501,Belmopan,BZD,Belize dollar,$,...,4.17,54.17,7.69,40,8,20.00,Americas,104250.000000,1.354250e+06,1.922500e+05
12,20,Barbados,BRB,BB,52,+1-246,Bridgetown,BBD,Barbadian dollar,Bds$,...,6.36,85.45,7.45,106,4,3.77,Americas,60000.000000,8.061321e+05,7.028302e+04
101,145,Monaco,MCO,MC,492,377,Monaco,EUR,Euro,â‚¬,...,3.45,89.66,3.85,109,7,6.42,Europe,31651.376147,8.225688e+05,3.532110e+04
164,245,Yemen,YEM,YE,887,967,Sanaa,YER,Yemeni rial,ï·¼,...,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean,17640.518839,3.042619e+04,3.581223e+04
62,94,Guyana,GUY,GY,328,592,Georgetown,GYD,Guyanese dollar,$,...,5.14,46.53,11.05,337,52,15.43,Americas,15252.225519,1.380712e+05,3.278932e+04
22,33,Brunei,BRN,BN,96,673,Bandar Seri Begawan,BND,Brunei dollar,B$,...,2.13,97.87,2.17,141,0,0.00,Western Pacific,15106.382979,6.941135e+05,1.539007e+04
88,125,Liechtenstein,LIE,LI,438,423,Vaduz,CHF,Swiss franc,CHf,...,1.16,94.19,1.23,86,0,0.00,Europe,13488.372093,1.095233e+06,1.430233e+04
148,215,Syria,SYR,SY,760,963,Damascus,SYP,Syrian pound,LS,...,5.93,0.00,inf,522,152,29.12,Eastern Mediterranean,11360.153257,0.000000e+00,inf
30,43,Chad,TCD,TD,148,235,N'Djamena,XAF,Central African CFA franc,FCFA,...,8.13,87.85,9.26,889,33,3.71,Africa,9145.106862,9.881890e+04,1.041620e+04

In [20]:
highest_cases_df = combined_df.sort_values('cases_per_million', ascending=False).head(10)
highest_cases_df

,id,name,iso3,iso2,numeric_code,phone_code,capital,currency,currency_name,currency_symbol,...,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,test_per_million,cases_per_million,deaths_per_million
163,244,Western Sahara,ESH,EH,732,212,El-Aaiun,MAD,Moroccan Dirham,MAD,...,10.00,80.00,12.50,10,0,0.00,Africa,1000000.000000,8.000000e+06,1.250000e+06
57,86,Greenland,GRL,GL,304,299,Nuuk,DKK,Danish krone,Kr.,...,0.00,92.86,0.00,13,1,7.69,Europe,0.000000,7.143077e+06,0.000000e+00
41,61,Dominica,DMA,DM,212,+1-767,Roseau,XCD,Eastern Caribbean dollar,$,...,0.00,100.00,0.00,18,0,0.00,Americas,0.000000,5.555556e+06,0.000000e+00
82,119,Laos,LAO,LA,418,856,Vientiane,LAK,Lao kip,â‚­,...,0.00,95.00,0.00,19,1,5.26,Western Pacific,0.000000,5.000000e+06,0.000000e+00
58,87,Grenada,GRD,GD,308,+1-473,St. George's,XCD,Eastern Caribbean dollar,$,...,0.00,100.00,0.00,23,0,0.00,Americas,0.000000,4.347826e+06,0.000000e+00
127,186,Saint Lucia,LCA,LC,662,+1-758,Castries,XCD,Eastern Caribbean dollar,$,...,0.00,91.67,0.00,23,1,4.35,Americas,0.000000,3.985652e+06,0.000000e+00
15,23,Belize,BLZ,BZ,84,501,Belmopan,BZD,Belize dollar,$,...,4.17,54.17,7.69,40,8,20.00,Americas,104250.000000,1.354250e+06,1.922500e+05
88,125,Liechtenstein,LIE,LI,438,423,Vaduz,CHF,Swiss franc,CHf,...,1.16,94.19,1.23,86,0,0.00,Europe,13488.372093,1.095233e+06,1.430233e+04
17,26,Bhutan,BTN,BT,64,975,Thimphu,BTN,Bhutanese ngultrum,Nu.,...,0.00,86.87,0.00,90,9,10.00,South-East Asia,0.000000,9.652222e+05,0.000000e+00
101,145,Monaco,MCO,MC,492,377,Monaco,EUR,Euro,â‚¬,...,3.45,89.66,3.85,109,7,6.42,Europe,31651.376147,8.225688e+05,3.532110e+04

In [21]:
higest_deaths_df = combined_df.sort_values('deaths_per_million', ascending=False).head(10)
higest_deaths_df

,id,name,iso3,iso2,numeric_code,phone_code,capital,currency,currency_name,currency_symbol,...,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,test_per_million,cases_per_million,deaths_per_million
28,39,Canada,CAN,CA,124,1,Ottawa,CAD,Canadian dollar,$,...,7.68,0.00,inf,112925,3533,3.13,Americas,68.009741,0.000000e+00,inf
148,215,Syria,SYR,SY,760,963,Damascus,SYP,Syrian pound,LS,...,5.93,0.00,inf,522,152,29.12,Eastern Mediterranean,11360.153257,0.000000e+00,inf
132,196,Serbia,SRB,RS,688,381,Belgrade,RSD,Serbian dinar,din,...,2.25,0.00,inf,21253,2888,13.59,Europe,105.867407,0.000000e+00,inf
146,213,Sweden,SWE,SE,752,46,Stockholm,SEK,Swedish krona,kr,...,7.18,0.00,inf,78048,1347,1.73,Europe,91.994670,0.000000e+00,inf
105,150,Mozambique,MOZ,MZ,508,258,Maputo,MZN,Mozambican metical,MT,...,0.65,0.00,inf,1507,194,12.87,Africa,431.320504,0.000000e+00,inf
163,244,Western Sahara,ESH,EH,732,212,El-Aaiun,MAD,Moroccan Dirham,MAD,...,10.00,80.00,12.50,10,0,0.00,Africa,1000000.000000,8.000000e+06,1.250000e+06
15,23,Belize,BLZ,BZ,84,501,Belmopan,BZD,Belize dollar,$,...,4.17,54.17,7.69,40,8,20.00,Americas,104250.000000,1.354250e+06,1.922500e+05
12,20,Barbados,BRB,BB,52,+1-246,Bridgetown,BBD,Barbadian dollar,Bds$,...,6.36,85.45,7.45,106,4,3.77,Americas,60000.000000,8.061321e+05,7.028302e+04
108,156,Netherlands,NLD,NL,528,31,Amsterdam,EUR,Euro,â‚¬,...,11.53,0.35,3259.26,52132,1281,2.46,Europe,221.169339,6.713727e+00,6.251937e+04
164,245,Yemen,YEM,YE,887,967,Sanaa,YER,Yemeni rial,ï·¼,...,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean,17640.518839,3.042619e+04,3.581223e+04

In [22]:
highest_test_per_million = combined_df.test_per_million.count()
highest_test_per_million

167

In [23]:
highest_deaths_per_million = combined_df.deaths_per_million.count()
highest_deaths_per_million

167

In [24]:
combined_df.columns

Index(['id', 'name', 'iso3', 'iso2', 'numeric_code', 'phone_code', 'capital',
       'currency', 'currency_name', 'currency_symbol', 'tld', 'native',
       'region', 'region_id', 'subregion', 'subregion_id', 'nationality',
       'timezones', 'latitude', 'longitude', 'emoji', 'emojiU', 'gdp',
       'Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New cases', 'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered',
       'Confirmed last week', '1 week change', '1 week % increase',
       'WHO Region', 'test_per_million', 'cases_per_million',
       'deaths_per_million'],
      dtype='object')